* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto', sans-serif;
    background-color: #eee;
    font: 16px/1 sans-serif;
    color: #fff;
}

main {
    height: 100vh;
    width: 100vw;
}

.vertical-align {
    transform: translateY(-50%);
    position: relative;
    top: 50%;
}

table {
    /*box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);*/
    background-color: #393E46;
    text-transform: uppercase;
    border-spacing: 6px;
    text-align: center;
    font-size: 5em;
    margin: 0 auto;
    height: 50vw;
    width: 50vw;
}

td {
    border: 2px solid #eee;
    height: 33.3%;
    width: 33.3%;
}

td.X {
    color: #D72323;
}

td.O {
    color: #3490DE;
}

td:not(.filled):hover {
    border-style: dashed;
}

@media only screen and (max-width: 768px) {
    table {
        font-size: 4em;
        height: 80vw;
        width: 80vw;
    }
}


/* Modal Style */

.blocker {
    background-color: rgba(0, 0, 0, 0.6);
}

.modal {
    background-color: rgba(51, 51, 51, 0.4);
    text-transform: uppercase;
    text-align: center;
    padding: 20px 30px;
    font-size: 1.6em;
    height: 150px;
    width: 90%;
}

.modal>p:first-of-type {
    margin-bottom: 15px;
}

.modal i,
button {
    font-size: 60px;
}

.winner.modal {
    color: #EFD510;
}

.loser.modal {
    color: #EEEEEE;
}

.tie.modal {
    color: #FF304F;
}

button {
    border-color: transparent;
    background: transparent;
    cursor: pointer;
    margin: 0 10px;
    color: #fff;
    outline: none;
    border: none;
}

button#choosed-x:hover {
    color: #D72323;
}

button#choosed-o:hover {
    color: #3490DE;
}

.line {
    transform-origin: 0% 0%;
    position: absolute;
    width: 60%;
    left: 0;
    top: 0;
}